body {
    background-color: #dddada;

}

form {
    scale: 0.8;
    background-color: white;
    height: 380px;
    width: 500px;
    box-sizing: content-box;
    padding: 44px;
    position: absolute;



}

.button {
    height: 40px;
    width: 140px;
    background-color: #0067b8;
    color: white;
    font-size: 1.2rem;
    float: right;
    line-height: 50px;
    margin-top: 50px;
    border: none;
}




h1 {
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img1 {
    height: 30px;
    object-fit: contain;
    line-height: 50px;
}

.Email {
    font-size: 1.2rem;
    padding: 0px;
    border: none;
    margin: 0px;
    line-height: 50px;
}

.p {
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 50px;
}

.div3 {
    display: flex;
   
    background-color: white;
    margin-top: 60%;
    width: 62%;
    margin-left: 8%;
    
    
   
}
.button:hover{
    cursor: pointer;
    background-color: blue;
}
.contaniner{
    margin: 0% 20% 0% 20%;
}
